.product-wrapper{
width: 80%;
margin: 0 auto;
display: flex;
justify-content: center;
align-items: center;
margin-top: 60px;
@media (max-width:860px) {
    flex-wrap: wrap;
}
}

.product-img-box{
width: 50%;
@media (max-width:860px) {
width: 65%;
}
}

.single-img{
    margin: 0 auto;
    background-size: cover;
    width: 74%;
    height: 500px;
    @media (max-width:1200px) {
        width: 96%;
        height: 441px;
    }

}
.img-switcher{
    display: flex;
    width: 74%;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 10px;
    @media (max-width:1200px) {
        width: 96%;
    }
}
.img1-switcher{
width: 30%;

}

//////description
.product-descript{
    height: 356px;
    width: 40%;
margin-left: 2%;
@media (max-width:970px) {
    margin-left: 4%;
}
@media (max-width:860px) {
    height: 294px;
    width: 70%;
    margin-top: 39px;
    margin-left: 4%;
}
}
.font-color2{
    font-size: 26px;
    color: #982e54;
    font-family: 'Roboto', sans-serif;
    margin-top: 17px;
    margin-bottom: 22px;
}
.card-text2{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 18px;
}
.add-to-cart2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 183px;
    height: 38px;
    color: white;
    margin: 0 auto;
    margin-top: 19px;
    font-family: 'Roboto', sans-serif;
    background-color: #985a85;
}
.product-p{
    margin-top: 20px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}
.rateing{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.br-theme-fontawesome-stars-o .br-widget a.br-selected:after {
    content: '\f005';
    color: pink !important;
}