@import 'reset.scss';
.header{
    width: 100%;
    height: 70px;
    position: fixed;
    background-color: rgb(255, 255, 255);    
    z-index: 100000;
    font-family: 'Open Sans Condensed', sans-serif;
    .header-box{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        width: 95%;
        margin: 0 auto;
      
        .nb-logo-div{
            .nb-logo{
                width: 75px;
            }
        }
        .header-navigation{
          display: flex;
          font-size: 20px;
          margin-right: 1%;
          font-size: 18px;
          @media (max-width:900px) {
              display: none;
          }
            .nav-a{
                color: #982e54;
                margin-left: 120px;
                font-family: 'Roboto', sans-serif;
            }
           
        }
         .nav-bar{
            display: none;
            @media (max-width:900px) {
                display: block;
                width: 50px;
            }
        }
        .close-bar{
            display: none;
            width: 50px;
        }
    }

    .resp-header{
        display: none;
       .close-button{
        width: 50px;
        margin: 10px 0 0 20px;
        @media (max-width:900px){
            display: none;
        }
       } 
    }
    .side-bar{
         height: 114vh;
         width: 80%;
         background-color: aliceblue;
         z-index: 10000000000000000;
         position: absolute;
         top: 0;
         left: 0;
         display: block;
         animation-name: scroll;
         transition: left 1s ease;
         animation-duration: 1s;

    }
   
  @keyframes scroll {
      from{
        left: -80%;
      }
      to{
      left: 0;
      }
  }
 
}
    

